<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for b in ctx_games %}
    <div class="card">
        <h1>{{ b.title }}</h1>
        <h2>{{ b.description }}</h2>
        <h2>{{ b.price }}</h2>
        <h2>{{ b.list_count }}</h2>
        <a href="/{{i}}">More info</a>
        
    </div>
{% endfor %} 

</body>
</html>